@charset "UTF-8";
html, body, #menu-form #find-course #courses #login-form #menu-schedule #schedule1 #schedule2 #schedule3 {
  width: 100%;
  height: 100%; }

/*เพจ Menu */
#menu-form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2185D0;
  height: 100%; }
  #menu-form > form {
    flex: 0 1 auto;
    align-self: auto; }
  #menu-form > .ui.header {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ff4a00; }
  #menu-form > div.ui.pointing.menu {
    padding-left: 2%;
    padding-right: 2%; }

/*เพจ Find_Course*/
#find-course {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #find-course > .flex.header {
    margin-bottom: 1.5em;
    color: #588DC9; }
  #find-course .wide {
    width: 21.7em;
    margin-bottom: 1.5em; }
    #find-course .wide > .label {
      color: #588DC9; }
  #find-course > .flex.button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    #find-course > .flex.button > .ui.button {
      height: 3.5em;
      width: 5em; }
    #find-course > .flex.button > .button.icon.back {
      margin-right: 1.5em; }

/*เพจ Course*/
#courses {
  padding: 1.5em;
  height: 100%; }
  #courses > .top-header > h2 {
    text-align: center;
    color: #588DC9; }
  #courses .item.subject {
    border: double #588DC9;
    margin-bottom: 1em;
    padding: 0.5em 0.5em; }
    #courses .item.subject .p-id {
      margin-bottom: 0; }
    #courses .item.subject .p-subject {
      padding-left: 2.55em; }
    #courses .item.subject .detail-of span {
      color: #588DC9; }

/*เพจ Login*/
#login-form {
  display: flex;
  justify-content: center;
  align-items: center; }
  #login-form button[type="submit"] {
    margin-right: 0; }
  #login-form > form {
    flex: 0 1 auto;
    align-self: auto; }
    #login-form > form > div {
      margin-bottom: .8em; }

@media only screen and (min-width: 320px) {
  #login-form {
    flex-flow: column; }
    #login-form form {
      margin-top: 0.5em; } }
@media only screen and (min-width: 480px) {
  #login-form {
    flex-flow: row; }
    #login-form form {
      margin-top: 2em; } }
/*เพจ Menu_Schedule*/
#menu-schedule {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  align-content: flex-start;
  background-color: #2185D0; }
  #menu-schedule > form {
    flex: 0 1 auto;
    align-self: auto; }
  #menu-schedule > .ui.header {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ff4a00; }
  #menu-schedule > div.ui.pointing.menu {
    padding-left: 2%;
    padding-right: 2%; }

/*เพจ Schedule1*/
#schedule1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%; }
  #schedule1 > .flex-item {
    flex: 0 1 auto; }
  #schedule1 > h2 {
    color: #588DC9; }
  #schedule1 > .flex-item.input-box {
    margin-left: 50%;
    margin-right: 50%; }
  #schedule1 > .flex-item.input-box > .ui.dropdown {
    margin-bottom: 0.8em; }
  #schedule1 > .flex-item.input-box > .ui.dropdown > .label {
    color: #3068A7; }
  #schedule1 .medium.ui.button {
    width: 4em; }

/*เพจ Schedule2 และ Schedule3*/
#schedule2-3 {
  color: #e8e8e8; }
  #schedule2-3 > .top-header {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    font-weight: normal;
    background-color: #B3AB9E; }
  #schedule2-3 > .ui.list {
    margin-top: 0; }
    #schedule2-3 > .ui.list .list {
      padding: 0; }
    #schedule2-3 > .ui.list .item .time > .ui.label {
      border-radius: 0; }
    #schedule2-3 > .ui.list .item.day {
      padding: 0; }
      #schedule2-3 > .ui.list .item.day .details > div > .label {
        font-style: italic; }
    #schedule2-3 > .ui.list .item.monday {
      background-color: #FBFBCC;
      border-left: 3px solid #F1F153; }
      #schedule2-3 > .ui.list .item.monday .item.lecture-details > .content {
        border-top: 1px dotted #9A842C; }
      #schedule2-3 > .ui.list .item.monday .ui.header {
        color: #95964f;
        margin-bottom: .1em; }
      #schedule2-3 > .ui.list .item.monday .details > div {
        color: #676644; }
      #schedule2-3 > .ui.list .item.monday .details > div > .label {
        color: #8C703A; }
      #schedule2-3 > .ui.list .item.monday .time.ui.label {
        color: white;
        background-color: #CCCC88; }
    #schedule2-3 > .ui.list .item.tuesday {
      background-color: #F7E6F1;
      border-left: 3px solid #E8B7E8; }
      #schedule2-3 > .ui.list .item.tuesday .item.lecture-details > .content {
        border-top: 1px dotted #802F7C; }
      #schedule2-3 > .ui.list .item.tuesday .ui.header {
        color: #866384;
        margin-bottom: 0.1em; }
      #schedule2-3 > .ui.list .item.tuesday .details > div {
        color: #67445F; }
      #schedule2-3 > .ui.list .item.tuesday .details > div > .label {
        color: #754B6F; }
      #schedule2-3 > .ui.list .item.tuesday .time.ui.label {
        color: white;
        background-color: #CAA3C1; }
    #schedule2-3 > .ui.list .item.wednesday {
      background-color: #E6F7F1;
      border-left: 3px solid #BEE8B7; }
      #schedule2-3 > .ui.list .item.wednesday .item.lecture-details > .content {
        border-top: 1px dotted #446749; }
      #schedule2-3 > .ui.list .item.wednesday .ui.header {
        color: #668663;
        margin-bottom: 0.1em; }
      #schedule2-3 > .ui.list .item.wednesday .details > div {
        color: #44674E; }
      #schedule2-3 > .ui.list .item.wednesday .details > div > .label {
        color: #4B7553; }
      #schedule2-3 > .ui.list .item.wednesday .time.ui.label {
        color: white;
        background-color: #6EA06B; }
    #schedule2-3 > .ui.list .item.thursday {
      background-color: #FFEFC9;
      border-left: 3px solid #E4AD79; }
      #schedule2-3 > .ui.list .item.thursday .item.lecture-details > .content {
        border-top: 1px dotted #D69462; }
      #schedule2-3 > .ui.list .item.thursday .ui.header {
        color: #F1AA38;
        margin-bottom: 0.1em; }
      #schedule2-3 > .ui.list .item.thursday .details > div {
        color: #E0BB5F; }
      #schedule2-3 > .ui.list .item.thursday .details > div > .label {
        color: #DAB967; }
      #schedule2-3 > .ui.list .item.thursday .time.ui.label {
        color: white;
        background-color: #ECBA5A; }
    #schedule2-3 > .ui.list .item.friday {
      background-color: #BFD9F1;
      border-left: 3px solid #35C4DE; }
      #schedule2-3 > .ui.list .item.friday .item.lecture-details > .content {
        border-top: 1px dotted #2F7B80; }
      #schedule2-3 > .ui.list .item.friday .ui.header {
        color: #6EB5BD;
        margin-bottom: 0.1em; }
      #schedule2-3 > .ui.list .item.friday .details > div {
        color: #5D9492; }
      #schedule2-3 > .ui.list .item.friday .details > div > .label {
        color: #599CA9; }
      #schedule2-3 > .ui.list .item.friday .time.ui.label {
        color: white;
        background-color: #4797A0; }
    #schedule2-3 > .ui.list .item.saturday {
      background-color: #E2B7EC;
      border-left: 3px solid #B350E2; }
      #schedule2-3 > .ui.list .item.saturday .item.lecture-details > .content {
        border-top: 1px dotted #640473; }
      #schedule2-3 > .ui.list .item.saturday .ui.header {
        color: #A305FF;
        margin-bottom: 0.1em; }
      #schedule2-3 > .ui.list .item.saturday .details > div {
        color: #7E4A92; }
      #schedule2-3 > .ui.list .item.saturday .details > div > .label {
        color: #754B6F; }
      #schedule2-3 > .ui.list .item.saturday .time.ui.label {
        color: white;
        background-color: #8F5998; }
    #schedule2-3 > .ui.list .content.day {
      width: 100%; }
      #schedule2-3 > .ui.list .content.day > .ui.header {
        padding: .5em;
        font-weight: normal; }
      #schedule2-3 > .ui.list .content.day > .list {
        margin-top: 0.1em; }
    #schedule2-3 > .ui.list .item.lecture-details {
      position: relative; }
      #schedule2-3 > .ui.list .item.lecture-details > .content {
        position: relative;
        padding: 0.1em 0 0.7em 0; }
        #schedule2-3 > .ui.list .item.lecture-details > .content > .time.ui.label {
          position: absolute;
          top: 0.1em;
          right: 0;
          z-index: 1;
          width: 8em;
          border-radius: 0;
          margin-right: 0; }
        #schedule2-3 > .ui.list .item.lecture-details > .content > .details {
          padding: 2.1em .5em .5em .5em;
          z-index: 0; }

/*เพจ Academic Calendar */
#a-calendar {
  padding: .2em;
  background: #F7F7D2;
  height: 100%; }
  #a-calendar > .top-header {
    text-align: center;
    margin-top: .5em; }
  #a-calendar > .ui.table {
    background: #B2C6E2; }
    #a-calendar > .ui.table .three.wide {
      background: #A3BFE6; }
    #a-calendar > .ui.table .twelve.wide {
      background: #A3BFE6; }
    #a-calendar > .ui.table > .calendar-data > tr > .date > .day {
      font-weight: bold;
      font-size: medium; }
    #a-calendar > .ui.table > .calendar-data > tr > .events > .details {
      margin-bottom: 0.2em;
      color: #60606B; }
      #a-calendar > .ui.table > .calendar-data > tr > .events > .details > .note {
        font-style: italic;
        padding: 0 0 0 1.5em; }
      #a-calendar > .ui.table > .calendar-data > tr > .events > .details > .period-of-time {
        padding: 0 0 0 1.5em; }
    #a-calendar > .ui.table > .calendar-data > tr .details.semester {
      color: #292BCE; }
    #a-calendar > .ui.table > .calendar-data > tr .details.finished {
      color: #FD8110; }
    #a-calendar > .ui.table .center-align {
      text-align: center; }

/*# sourceMappingURL=main.css.map */
