html, body, #menu-form #find-course #courses #login-form #menu-schedule #schedule1 #schedule2 #schedule3 {
  width: 100%;
  height: 100%;
}

/*เพจ Menu */
#menu-form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2185D0;
  height: 100%;
  > form {
    flex: 0 1 auto;
    align-self: auto;
  }
  > .ui.header {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ff4a00;
  }
  > div.ui.pointing.menu {
    padding-left: 2%;
    padding-right: 2%;
  }

}

/*เพจ Find_Course*/
#find-course {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  > .flex.header {
    margin-bottom: 1.5em;
    color: #588DC9;
  }
  .wide {
    width: 21.7em;
    margin-bottom: 1.5em;
    > .label {
      color: #588DC9;
    }
  }
  > .flex.button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    > .ui.button {
      height: 3.5em;
      width: 5em;
    }
    > .button.icon.back {
      margin-right: 1.5em;
    }
  }
}

/*เพจ Course*/
#courses {
  padding: 1.5em;
  height: 100%;
  > .top-header{
    > h2 {
      text-align: center;
      color: #588DC9;
    }
  }
  .item.subject {
    border: double #588DC9;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    .p-id {
      margin-bottom: 0;
    }
    .p-subject {
      padding-left: 2.55em;
    }
    .detail-of {
      span {
        color: #588DC9;
      }
    }
  }
}

/*เพจ Login*/
#login-form {
  display: flex;
  justify-content: center;
  align-items: center;

  button[type="submit"] { margin-right: 0; }
  > form {
    flex: 0 1 auto;
    align-self: auto;
    > div { margin-bottom: .8em; }
  }
}


@media only screen and (min-width: 320px) {
  #login-form {
    flex-flow: column;
    form {
      margin-top: 0.5em;
    }
  }
}

@media only screen and (min-width: 480px) {
  #login-form {
    flex-flow: row;
    form {
      margin-top: 2em;
    }
  }
}

/*เพจ Menu_Schedule*/
#menu-schedule {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  align-content: flex-start;
  background-color: #2185D0;
  > form {
    flex: 0 1 auto;
    align-self: auto;
  }
  > .ui.header {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ff4a00;
  }
  > div.ui.pointing.menu {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/*เพจ Schedule1*/
#schedule1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  > .flex-item {
    flex: 0 1 auto
  }
> h2 { color: #588DC9; }
> .flex-item.input-box  {
    margin-left: 50%;
    margin-right: 50%;
  }
  > .flex-item.input-box > .ui.dropdown { margin-bottom: 0.8em; }
  > .flex-item.input-box > .ui.dropdown > .label { color: #3068A7; }
  .medium.ui.button {
    width: 4em;
  }
}

/*เพจ Schedule2 และ Schedule3*/
#schedule2-3 {
  color: #e8e8e8;
  > .top-header {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    font-weight: normal;
    background-color: #B3AB9E;
  }
  > .ui.list {
    margin-top: 0;
    .list {
      padding: 0;
    }
    .item .time > .ui.label {
      border-radius: 0;
    }
    .item.day {
      padding: 0;
      .details > div > .label {
        font-style: italic
      }
    }
    .item.monday {
      background-color: #FBFBCC;
      border-left: 3px solid #F1F153;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #9A842C;
        }
      }
      .ui.header {
        color: #95964f;
        margin-bottom: .1em;
      }
      .details > div {
        color: #676644;
      }
      .details > div > .label {
        color: #8C703A;
      }
      .time.ui.label {
        color: white;
        background-color: #CCCC88;
      }
    }
    .item.tuesday {
      background-color: #F7E6F1;
      border-left: 3px solid #E8B7E8;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #802F7C;
        }
      }
      .ui.header {
        color:#866384;
        margin-bottom: 0.1em;
      }
      .details > div {
        color:#67445F;
      }
      .details > div > .label {
        color: #754B6F;
      }
      .time.ui.label {
        color: white;
        background-color:#CAA3C1;
      }
    }
    .item.wednesday {
      background-color: #E6F7F1;
      border-left: 3px solid #BEE8B7;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #446749;
        }
      }
      .ui.header {
        color:#668663;
        margin-bottom: 0.1em;
      }
      .details > div {
        color:#44674E;
      }
      .details > div > .label {
        color: #4B7553;
      }
      .time.ui.label {
        color: white;
        background-color:#6EA06B;
      }
    }
    .item.thursday {
      background-color: #FFEFC9;
      border-left: 3px solid #E4AD79;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #D69462;
        }
      }
      .ui.header {
        color: #F1AA38;
        margin-bottom: 0.1em;
      }
      .details > div {
        color: #E0BB5F;
      }
      .details > div > .label {
        color: #DAB967;
      }
      .time.ui.label {
        color: white;
        background-color: #ECBA5A;
      }
    }
    .item.friday {
      background-color: #BFD9F1;
      border-left: 3px solid #35C4DE;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #2F7B80;
        }
      }
      .ui.header {
        color: #6EB5BD;
        margin-bottom: 0.1em;
      }
      .details > div {
        color: #5D9492;
      }
      .details > div > .label {
        color: #599CA9;
      }
      .time.ui.label {
        color: white;
        background-color: #4797A0;
      }
    }
    .item.saturday {
      background-color: #E2B7EC;
      border-left: 3px solid #B350E2;
      .item.lecture-details {
        > .content {
          border-top: 1px dotted #640473;
        }
      }
      .ui.header {
        color: #A305FF;
        margin-bottom: 0.1em;
      }
      .details > div {
        color: #7E4A92;
      }
      .details > div > .label {
        color: #754B6F;
      }
      .time.ui.label {
        color: white;
        background-color: #8F5998;
      }
    }

    .content.day {
      width: 100%;
      > .ui.header {
        padding: .5em;
        font-weight: normal;
      }
      > .list {
        margin-top: 0.1em;
      }

    }
    .item.lecture-details {
      position: relative;
      > .content {
        position: relative;
        padding: 0.1em 0 0.7em 0;
        //margin-bottom: 0.5em;
        > .time.ui.label {
          position: absolute;
          top:0.1em;
          right: 0;
          z-index: 1;
          width: 8em;
          border-radius: 0;
          margin-right: 0;
        }
        > .details {
          padding: 2.1em .5em .5em .5em;
          z-index: 0;
        }
      }
    }
  }
}

    /*เพจ Academic Calendar */
#a-calendar {
  padding: .2em;
  background: #F7F7D2;
  height: 100%;
  > .top-header {
    text-align: center;
    margin-top: .5em;
  }
  > .ui.table {
    background: #B2C6E2;
    .three.wide {
      background: #A3BFE6;
    }
    .twelve.wide {
      background: #A3BFE6;
    }
    > .calendar-data > tr {
      > .date {
        > .day {
          font-weight: bold;
          font-size: medium;
        }
        > .month { }
      }
      > .events {
        > .details {
          margin-bottom: 0.2em;
          color: #60606B;
          > .e-name { }
          > .note {
            font-style: italic;
            padding: 0 0 0 1.5em;
          }
          > .period-of-time {
            padding: 0 0 0 1.5em;
          }
        }
      }
      .details.semester {
        color: #292BCE;
      }
      .details.finished {
        color: #FD8110;
      }
    }
    .center-align {
      text-align: center
    }
  }
}
